{
  "$schema": "https://shadcn-svelte.com/schema.json",
  "tailwind": {
    "css": "<%= js_destination_path %>/entrypoints/application.css",
    "baseColor": "neutral"
  },
  "aliases": {
    "components": "@/components",
    "utils": "@/utils",
    "ui": "@/components/ui",
    "hooks": "@/hooks",
    "lib": "@"
  },
  "typescript": <%= use_typescript %>,
  "registry": "https://shadcn-svelte.com/registry"
}
