{
  "compilerOptions": {
    "paths": {
      "@/*": ["./<%= js_destination_path %>/*"]
    }
  },
  "files": [],
  "references": [
    {
      "path": "./tsconfig.app.json"
    },
    {
      "path": "./tsconfig.node.json"
    }
  ]
}
