# frozen_string_literal: true

class InertiaController < ApplicationController
<% if use_alba %>
  include Alba::Inertia::Controller

  inertia_share { SharedPropsSerializer.new(self).to_inertia }
<% else %>
  inertia_config default_render: true
  inertia_share auth: {
        user: -> { Current.user.as_json(only: %i[id name email verified created_at updated_at]) },
        session: -> { Current.session.as_json(only: %i[id]) }
      }
<% end %>
end
